<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <form method="POST" action="{% url 'test' %}">
        {% csrf_token %} 
        <button type="submit">Press Here !!</button> 
    </form>
</body>
</html>